{% extends "/home/base.html" %}

{% block headExtra %}{% endblock headExtra %}

{% block title %}{% endblock title %}

{% block sidebarTitle %}Office Admin{% endblock sidebarTitle %}

{% block dashboardLink %}{% endblock dashboardLink %}

{% block sidebarMenu2Link %}#{% endblock sidebarMenu2Link %}
{% block sidebarMenu2icon %}bx bxs-shopping-bag-alt{% endblock sidebarMenu2icon %}
{% block sidebarMenu2 %}Buy{% endblock sidebarMenu2 %}

{% block sidebarMenu3Link %}{% endblock sidebarMenu3Link %}
{% block sidebarMenu3icon %} bx bx-rupee {% endblock sidebarMenu3icon %}
{% block sidebarMenu3 %}Fund{% endblock sidebarMenu3 %}

{% block sidebarMenu4Link %}{% endblock sidebarMenu4Link %}
{% block sidebarMenu4icon %} bx bxs-message-dots {% endblock sidebarMenu4icon %}
{% block sidebarMenu4 %}Message{% endblock sidebarMenu4 %}

{% block sidebarMenu5Link %}{% endblock sidebarMenu5Link %}
{% block sidebarMenu5icon %} bx bx-buildings {% endblock sidebarMenu5icon %}
{% block sidebarMenu5 %}Departments{% endblock sidebarMenu5 %}

{% block sidebarMenu6Link %}{% endblock sidebarMenu6Link %}
{% block sidebarMenu6icon %} bx bxs-cog {% endblock sidebarMenu6icon %}
{% block sidebarMenu6 %}Settings{% endblock sidebarMenu6 %}

{% block logoutLink %} {{ url_for('auth.logout') }} {% endblock logoutLink %}

{% block notificationsLink %}{% endblock notificationsLink %}
{% block notificationCount %}{% endblock notificationCount %}

{% block main %}
		
{% endblock main %}